{% extends "polium/app_base.html" %}

{%block extra_title%}{{block.super}} | Elections | {{election}}{%endblock%}

{%block breadcrumbs%}
{{block.super}} / <a href="{% url 'polium_elections_list' %}">elections</a> /
{{election}}
{%endblock%}

{%block content%}
<h1>{{election}}</h1>

<h2>Candidates</h2>
{% if candidates %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Date added</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in candidates %}
        <tr scope="row">
            <td><a href="{{candidate.get_absolute_url}}">{{candidate.politician}}</a></td>
            <td>{{candidate.politician.rating}}</td>
            <td>{{candidate.politician.created_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No candidates have been configured. Please contact the site admin.</p>
{% endif %}
{%endblock%}