{% extends "util/site_base.html" %}

{% block app_content %}
{% if request.user.is_authenticated %}
<h1>
    Hello {{ request.user.email }}
</h1>
<p>Here are some games you can play.</p>
<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'polium' %}">Polium</a></li>
</ul>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
{% else %}
<p>Please log in to access your profile. <a href="{% url 'sesame-login' %}">Click here to log in.</a></p>
{% endif %}
{% endblock %}